@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@200;300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Orbitron:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@200;300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Orbitron:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#font{
  font-family: 'poppins', sans-serif;
}
@media (min-width: 800px) {
  #width{
    width: 40%;
  }
  
}
@media (max-width: 800px) {
  #width{
    width: 80%;
  }
  
}
@media (max-width: 1000px) {
  #update{
    width: 60%;
    margin: auto;
    display: block;
    transform: translateX(5px);
  }
  
}
@media (max-width: 800px) {
 #btnz{
  transform: translateX(-35px);
 }
  
}
@media (min-width: 800px) {
 #btnz{
  transform: translateX(-100px);
 }
  
}
@media (max-width: 800px) {
  #with, #btn{
    width: 70%;
  }
}
@media (min-width: 801px) and (max-width: 1020px) {
  #with, #btn{
    width: 70%;
  }
 
  #btnz{
    transform: translateX(-40px);
  }
}

@media (min-width: 200px) and (max-width: 500px) {
 #update{
  transform: translateX(15px);
 }
 #btnz{
  transform: translateX(-20px);
 }
}
#btn{
  margin: auto;
  display: block;
  text-align: center;
}
.completed {
  color: #fff;
  text-decoration: line-through;
}
#edit{
  transform: translateX(-30px);
}

@media (max-width: 400px) {
  #trash{
    padding-left: 8px;
  }
  
}
@media (min-width: 400px) and (max-width: 640px) {
  #trash{
    padding-left: 15px;
  }
  
}